<!DOCTYPE html>
<html data-ng-app>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-init="customers=[{name:'sravan',city:'hyderabad'},{name:'kumar',city:'karim nagar'},{name:'sravank',city:'hyd'}]">
    <input type="text" data-ng-model="name">{{name |uppercase}}
    <div class="container" data-ng-init="names=['Dave','Napur','Heedy','shriva']">
        <h3>looping with ng-repeat directive</h3>
        <ul>
            <li data-ng-repeat="personName in names">{{personName}}</li>
        </ul>
    </div>
    <input type="text" ng-model="cust">
    <div>
        <li ng-repeat="customer in customers|filter:cust|orderBy:'name'">{{customer.name}} -{{customer.city}}</li>
    </div>
</body>
<script src="angular.min.js"></script>
</html>